source ~/antigen.zsh

antigen use oh-my-zsh

antigen bundle pip
antigen bundle git
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle micrenda/zsh-nohup
antigen theme agnoster

antigen apply
